*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.main_container {
	display: flex;
	width: 100vw;
	justify-content: space-evenly;
}
.form_container {
	display: flex;
	width: 22em;
	height: 100vh;
	/* align-items: flex-start; */
	margin-top: 5em;
}

.input {
	width: 23em;
	margin-top: 0.5em;
	outline: none;
}
/* .input:invalid,
fieldset:invalid {
	border: 2px solid red;
} */

.title_container,
.author_container,
.priority_container,
.category-select {
	margin-bottom: 1em;
}

.priority_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 19.2em;
}
.priority_fieldset {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.button {
	width: 5em;
	background-color: rgb(5, 39, 39);
	color: aliceblue;
}
.table_container {
	width: 50vw;

	margin-top: 5em;
	border: 1px solid blue;
	text-align: center;
}
.table_caption {
	width: 50vw;
	color: white;
	border: 1px solid blue;
	background-color: blue;
}

.table_thead {
	width: 20em;
}
.th {
	border: 1px solid blue;
}

.error {
	border: 1px solid red;
}
.text_error {
	font-size: 0.6em;
	color: red;
	display: block;
}

.hidden {
	display: none;
}
